h3,
p,
h2 {
  margin: 0;
  padding: 0;
}

#storyBanner {
  background-image: url('../img/storyBanner.jpg');
  width: 100%;
  height: 400px;
  /*display: table;*/
  background-position: top;
  background-size: 125%;
}

#storyBanner h1 {
  color: #F1EEC7;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 4em;
  text-shadow: 2px 2px #323129;
}

/*Center container on page*/

.container {
  /*width: 80%;*/
  margin: 0 auto;  
}

/* Set section as table for vertical align purposes */


section {
  display: table;
  /*padding: 40px;*/
  box-sizing: border-box;
}

/* Set styling for even child sections */

/*section:nth-child(even) {
  height: 200px;
  background: #FEA301;
  /*box-shadow: 4px 4px 5px #888888;*/
  /*z-index: 3;*/
/*}*/

 /*Set styling for odd child sections */

/*section:nth-child(odd) {
  background: #00736A;
  /*box-shadow: 4px 4px 5px #888888;
}/*/

/* Image container styling */

.imageContainer {
  width: 30%;
  height: 300px;
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Text next to image styling */

/*span {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  color: #FEA301;
}*/

/*h3:nth-child(1) {
  color: #00736A;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}*/

p {
  /*color: #FEA301;*/
  padding-top: 10px;
  padding-bottom: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F1EEC7;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  margin: 0 auto;
  background-color: #002824;
  overflow: auto;
  padding: 10px;
  box-shadow: 2px 2px 10px 3px rgba(0, 40, 36, .3);
  z-index: 6;
  position: relative;

}

.container {
  max-width: 1024px;
/*  padding-right: 10%;
  padding-left: 10%;*/
  margin: 0 auto;
  /*margin-left: 30px;*/
}

.navBar,
.footer {
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
}


.logo {
  float: left;
  color: #F2561A;
  /*color: #002824;*/
  font-size: 20px;
}

.navLinks {
  float: right;
}

.navLinks li,
.footer li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.navLinks a {
    color: #F1EEC7;
    /*color: #002824;*/
}

.navLinks a:hover {
  color: #00BC9F;
}

.headerImg {
  background-image: url("../img/cloudHeader.jpg");
  height: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 2px 2px 10px 3px rgba(0, 40, 36, .3);
  box-shadow: inset 2px 2px 15px 3px rgba(0, 40, 36, .3);
  z-index: 2;
  /*position: relative;*/

}

.layer {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  /*background-color: #00736A;*/
  min-height: 250px;
  box-shadow: 2px 2px 10px 3px rgba(0, 40, 36, .3);
  position: relative;
  border-radius: 2px;
  overflow: auto;
  position: relative;
  /*box-sizing: border-box;*/
}

.layer img {
  border-radius: 50%;
  max-width: 275px;
  margin: 75px;
  border: 10px solid #00BC9F;
}

.left {
    float: left;
}

.right {
  float: right;
}

.layer4 img {
  float: right;
  /*border: 10px solid #F2561A;*/
}


.layerColumn {
  /*width: 100px;*/
  padding: 20px;
  padding-right: 100px;
  padding-top: 65px;
  padding-bottom: 100px;
  padding-left: 100px;
}

.layerColumn h3 {
  font-size: 1.75em;
  color: #F2561A;
  font-weight: 400;
}

.layer4 h3 {
  text-align: right;
  margin-right: 40px;
  /*color: #00736A;  */
}

.layerColumn p {
  color: #002824;
}

.layer4 p {
  text-align: right;
}

.quote {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 600px;
  text-align: center;
  font-weight: bold;
  line-height: 150%;
  font-size: 1.2em;
  color: #F9F8EA;
  text-shadow: 1px 1px 12px rgba(0, 40, 36, .4);
}

.layer1 {
  background-color: #00736A;
  z-index: 1;
}

.layer2 {
  z-index: 0;
  background-color: #F9F8EA;
}

.layer3 {
  background-color: #F2561A;
  /*background-color: #AF2D05;*/
  z-index: -1;
}

.layer4 {
  z-index: -2;
  background-color: #F9F8EA;

}

footer {
  width: 100%;
  background-color: #002824;
  /*height: 200px;*/
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 6;
  box-shadow: -2px -2px 15px -1px rgba(0, 40, 36, .3);
}

.footer {
  max-width: 1024px;
  margin: 0 auto;
  overflow: auto;
  box-sizing: border-box;

}

.footer .logo {
  float: left;
}

.footerLinks {
  float: right;
  color: #F1EEC7;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerLinks a {
  color: #F1EEC7;
}

.footerLinks a:hover {
  color: #00BC9F;
}

.footer p {
  float: right;
}
